@import url(reset.css);
@import url(fonts.css);

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.4;
}

#cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("/img/college-green.jpg") no-repeat 50% 25%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

#cover-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
}

#main {
  max-width: 750px;
}

#header {
  margin-top: 100px;
  margin-bottom: 50px;
}

#info {
  margin: 20px 10px;
  padding: 20px;
  background-color: rgb(239, 200, 93);
  border-radius: 15px;
}

#info-inner {
  background-color: rgb(245, 239, 218);
  padding: 20px;
  border-radius: 15px;
}

#info h2 {
  text-align: center;
  text-transform: uppercase;
  font: 72px "Duke Regular", Helvetica, Arial, sans-serif;
  color: rgb(203, 108, 140);
  margin-bottom: 10px;
}

form {
  text-align: center;
}

a {
  color: rgb(50, 80, 90);
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}

a:hover {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-decoration: none;
  color: rgb(50, 80, 90);
}

em {
  font-style: italic;
}

strong {
  color: rgb(50, 80, 90);
  font-weight: bold;
}

p, form {
  margin-bottom: 1em;
}

small {
  font-size: 80%;
}
